
Session_intro_1/.ipynb_checkpoints/more ablout torch  nn.CrossEntropyLoss()-checkpoint.txt
Session_intro_1/.ipynb_checkpoints/1_PytorchBasics-checkpoint.ipynb
/Session_intro_1/.ipynb_checkpoints
Session_intro_1/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/Session_intro_1/Videos
Session_intro_1/Session_1.zip
Session_intro_1/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
Session_intro_1/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
Session_intro_1/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
Session_intro_1/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
Session_intro_1/data/FashionMNIST/raw/train-images-idx3-ubyte
Session_intro_1/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
Session_intro_1/data/FashionMNIST/raw/train-labels-idx1-ubyte
